@page "/Orders"
@using MAS_projekt_s22580.Shared.DTOs
@using Newtonsoft.Json;
@inject HttpClient Http
@inject NavigationManager Navigation

<PageTitle>Orders</PageTitle>

<h1>Orders</h1>
<br>
@if (orders == null)
{
    <p><em>The client does not have any orders.</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th @onclick="@SortByOrderNumber">Order Number</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in orders)
            {
                <tr>
                    <td>@order.OrderNumber</td>
                    <td>@order.Status</td>
                    <td>
                        <button class="btn btn-primary" style="background-color: black;" @onclick="() => ShowOrder(order.Id)">
                            Show Order
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter]
    public int Id { get; set; }
    private List<OrderForList> orders;

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetAsync("order");
        if (response.IsSuccessStatusCode)
        {
            var json = await response.Content.ReadAsStringAsync();
            orders = JsonConvert.DeserializeObject<List<OrderForList>>(json);
        }
    }

    private void ShowOrder(int orderId)
    {
        Navigation.NavigateTo($"/order/details/{orderId}");
    }

    private void GoBackToClients()
    {
        Navigation.NavigateTo("/");
    }

    private void SortByOrderNumber()
    {
        orders = orders.OrderBy(s => s.OrderNumber).ToList();
    }
}
